body{
    margin: 1px;
    font-size: medium;
    background-color: blanchedalmond;
}

.contenedorprincipal{
    background-color: brown;
    margin: 1em;
    padding: 1em;
    display: grid;

}

.bloques{
    background-color: white;
    margin: 0.5em;
    padding: 1em;
}

@media(min-width:400px){
    .contenedorprincipal{
        grid-template-columns: 1fr;
    }
}

@media(min-width:600px){
    .contenedorprincipal{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:900px){
    .contenedorprincipal{
        grid-template-columns: 1fr 1fr 1fr;
    } 
}
